@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 14px;
  background-color: #1a202c; /* Dark background color */
  color: #e2e8f0; /* Light text color */
}

.listItem:hover {
  background: #2d3748; /* Slightly lighter color on hover */
  cursor: pointer;
}

.App {
  text-align: center;
  background-color: #1a202c; /* Dark background color */
  color: #e2e8f0; /* Light text color */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
